.navbar {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  cursor: pointer;
}

.navbar h2 {
  margin-left: 4vw;
  letter-spacing: 2px;
  font-size: 2rem;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  list-style-type: none;
}
